// ------- Variables ---------- \\

// colors \\
$dark-color: #000;
$light-color: #fff;
$primary-color: #333333;
$secondary-color: #bdbdbd;
$accent-color: #f2f2f2;

$bg-color: #fff;

// font \\
$primary-font: "Roboto", sans-serif;
$secondary-font: "TTHoves", sans-serif;
$primary-size: 16px;
$secondary-size: 14px;
$big-size: 64px;

// grid \\
$containerMaxWidth: 1170px;
$containerPadding: 10px;
$containerWidth: $containerMaxWidth + $containerPadding * 2;

// breakpoints \\
$breakpoint-576: 576.98px;
$breakpoint-768: 768.98px;
$breakpoint-992: 992.98px;
$breakpoint-1200: 1200.98px;

// -------- Reset styles --------- \\
*,
*::after,
*::before {
  font-family: $primary-font;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-size: $primary-size;
}

.list-reset {
  padding: 0;
  list-style-type: none;
}
.link-reset {
  text-decoration: none;
  color: $primary-color;
  font-size: $secondary-size;
  display: inline-block;
}
.text-reset {
  margin: 0;
  padding: 0;
}
