@import "./navbar/navbar";

.header {
  // .header__slider
  &__slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.slider {
  // .slider__menu
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  // .slider__item
  &__item {
  }
  // .slider__item-img
  &__item-img {
    display: block;
    max-width: 100%;
  }
}
