doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/index.min.css")
    body
        include ../src/assets/theme/components/header/_header.pug

        include ../src/assets/theme/components/footer/_footer.pug

    
    script(src="./assets/scripts/main.bundle.js") 