<div class="container header__container">
  <a href="/" class="link-reset"
    ><img
      src="@img/header/logo.png"
      alt="logo"
      width="70"
      height="43"
      class="header__logo"
  /></a>
  <nav class="nav header__nav">
    <a href="#" class="nav__link nav__link_active link-reset">Main</a>
    <!-- /.nav__link -->
    <a href="#" class="nav__link link-reset">GALLERY</a>
    <!-- /.nav__link -->
    <a href="#" class="nav__link link-reset">PROJECTS</a>
    <!-- /.nav__link -->
    <a href="#" class="nav__link link-reset">CERTIFICATIONS</a>
    <!-- /.nav__link -->
    <a href="#" class="nav__link link-reset">COntacts</a>
    <!-- /.nav__link -->
  </nav>
</div>
